<aside class="sidebar" [class.collapsed]="collapsed()">

    <div class="sidebar-brand">
        <div class="brand-logo-container">
            <img ngSrc="logo.png" width="64" height="64" alt="Logo IE" class="brand-logo" priority />
        </div>
        <div class="brand-text">
            <span class="brand-name">EduAula</span>
            <span class="brand-sub">IE Juan Pablo V.G.</span>
        </div>
    </div>

    <nav class="sidebar-nav">
        <div class="nav-section-title" [class.hidden]="collapsed()">Menú Principal</div>

        @for (item of visibleItems(); track item.route) {
        <a [routerLink]="[item.route]" routerLinkActive="active" class="nav-item" matRipple
            [matTooltip]="collapsed() ? item.label : ''" matTooltipPosition="right">

            <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
            <span class="nav-label">{{ item.label }}</span>
        </a>
        }
    </nav>

 
</aside>