.results-card {
    border-radius: 12px;
    overflow: auto;
}

.w100 {
    width: 100%;
}

th.mat-mdc-header-cell {
    font-weight: 600;
    color: #1A237E;
}

@media (max-width: 600px) {
    .results-card {
        font-size: 13px;
    }
}